$theme-colors: (
  "primary": #5a189a,
  "secondary": #9d4edd,
  "info": #fdc64e,
  "warning": #ff6d00,
  "light": #fff7eb,
  "dark": #240046,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}

h1 {
  text-decoration: underline;
}

.text-end {
  font-size: 10px;
}
