$mid: #ca5e21;
$dark: #542019;
$white: #fbfbfb;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $mid;
}

h1 {
  color: $dark;
}

// EXIT
.modal-header {
  text-align: center;
}

.goodbyeMessage {
  color: $dark;
}

.counter {
  border: 2px solid black;
}
