$orange: #ca5e21;
$red: #542019;
$white: #fbfbfb;

body {
  background-color: $white;
}

h1 {
  color: $red;
}

.modal-header {
  text-align: center;
}

.goodbyeMessage {
  color: $red;
}

.counter {
  border: 2px solid black;
}
